<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/sample_6.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
 <link rel="stylesheet" href="css/slider_3.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css'>
    <link rel='stylesheet' href='css/slider_1.css'>
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg  navbar-light sticky-top text-center">
        <a class="navbar-brand" href="index.html"><img :src="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" v-for="option in options">
                    <a class="nav-link" :href="option.link" :class="{'dropdown-toggle':option.dropdowm=='true'}" :data-toggle="option.toggle">{{option.option}}</a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" :href="dropdowmOption.link" v-for="dropdowmOption in option.dropdowmOptions">{{dropdowmOption.item}}</a>
                    </div>
                </li>
            </ul>
            <div class="contect_phone">預約專線：{{phone}}</div>
        </div>
    </nav>
    <div class="container-fluid page_banner">
        <div class="banner_img"><img src="images/s-banner.jpg" alt=""></div>
    </div>

    <div class="container text-center page_news">
        <br><br>
        <div class="title">
            <h2>最新消息</h2>
        </div>
        <hr class="hr_pink">
        <br>
        <div class="row  justify-content-center news_list text-left">
            <div class="col-lg-2 col-12 date">2018.7.12</div>
            <a href="news_page.html" class="col-lg-5 col-12">新聞新聞大標題放置區區區...</a>
        </div>
        <div class="row  justify-content-center news_list text-left">
            <div class="col-lg-2 col-12 date">2018.7.12</div>
            <a href="" class="col-lg-5 col-12">新聞新聞新聞大標題放置區區區...</a>
        </div>
        <div class="row  justify-content-center news_list text-left">
            <div class="col-lg-2 col-12 date">2018.7.12</div>
            <a href="" class="col-lg-5 col-12">新聞新聞新聞新聞大標題放置區區區...</a>
        </div>
        <div class="row  justify-content-center news_list text-left">
            <div class="col-lg-2 col-12 date">2018.7.12</div>
            <a href="" class="col-lg-5 col-12">新聞新聞新聞大標題放置區區區...</a>
        </div>

        <br><br><br>
    </div>

   <div class="container-fluid ad_box">
        <section class="variable slider carousel-center">
            <img src="images/ad.png">
            <img src="images/ad.png">
            <img src="images/ad.png">
            <img src="images/ad.png">
            <img src="images/ad.png">
              <img src="images/ad.png">
        </section>
    </div>
  <div class="container-fluid footer text-center" id="footer">
        <br>
        <br>
        <div style="font-weight: 900; color: white">
            <img :src="logo" alt="">
        </div>
        <hr class="hr_white">
        <div class="row justify-content-center">
            <a :href="option.link" class="col-lg-1 col-3 footer_menu" v-for="option in options">
                <div>{{option.option}}</div>
            </a>
        </div>
        <br>
        <br>
        <div class="row contact  justify-content-center">
            <div class="col-lg-4 col-12 text-left" data-0="transform: translateX(-200px)" data-bottom="transform: translateY(0px)">
                <i class="fas fa-map-marker-alt"></i><span>{{address}}</span><br>
                <i class="fas fa-mobile-alt"></i><span>{{phone}}</span><br>
                <i class="fas fa-envelope"></i> <span>{{mail}}</span><br>


            </div>
            <div class="col-lg-4  col-12 message">
                <input class="form-control" type="text" placeholder="姓名">
                <input class="form-control" type="text" placeholder="電話">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="留言"></textarea>
                <div class=" text-center page-padding">
                    <a><button class="button-white" data-toggle="modal" data-target="#successful">立即預約</button></a>
                </div>
            </div>

        </div>

    </div>


    <script src="js/Vue.v2.5.13.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/skrollr.js"></script>
    <script src="js/sample_6.js"></script>
    <script src='js/slider_2.js'></script>
    <script src='js/slider_1.js'></script>

</body>


</html>
